/* Importing Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: arial, sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-bar {
  padding: 6px 6px;
  height: 48px;
}

.bar-content {
  float: right;
  padding-right: 4px;
  padding-left: 32px;
  height: 48px;
}

.bar-content p {
  font-size: 13px;
  font-family: arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  padding: 0px 15px;
  text-decoration: none;
}

.bar-content p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bar-content .gmail {
  padding-right: 0px;
}

.bar-content .gmail a {
  text-decoration: none;
  color: #212529;
}

.bar-content .image a {
  text-decoration: none;
  color: #212529;
}

.bar-content .fa {
  padding: 12px 12px;
  cursor: pointer;
  height: 45px;
}

.bar-content .fa:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.bar-content .profile-pic {
  margin: 0;
  padding: 4px 4px;
  height: 40px;
  width: 40px;
  border-radius: 45%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.bar-content .profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 50%;
}

/* Logo Section */
.logo-section {
  min-height: 150px;
  height: calc(100% - 560px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.google-logo {
  width: 271px;
  height: 91px;
  margin-top: 75px;
}

@media only screen and (max-width: 600px) {
  .google-logo {
    margin-top: 60px;
  }
}

/* Search Bar Section */
.search-section {
  width: 580px;
  margin: 0px auto;
  position: relative;
  margin-top: -8px;
  text-align: center;
  padding: 20px 20px;
}

.search-section .searchbar {
  display: block;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  padding: 13px;
  padding-left: 45px;
  border-radius: 25px;
  width: 100%;
  transition: box-shadow 100ms;
  outline: none;
}

.search-section .searchbar:hover {
  border: 1px solid #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05),
    0 0 2px rgba(0, 0, 0, 0.05),
    0 0 3px rgba(0, 0, 0, 0.05),
    0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05),
    0 0 4px rgba(0, 0, 0, 0.05),
    0 0 5px rgba(0, 0, 0, 0.05)
}

.search-section .search-icon {
  width: 20px;
  opacity: .4;
  position: absolute;
  top: 35px;
  left: 35px;
}

.search-section .vs-icon {
  width: 14px;
  position: absolute;
  top: 35px;
  right: 35px;
}

.two-buttons {
  padding-top: 18px;
  font-family: arial, sans-serif;
  font-size: 14px;
}

button {
  color: #3c4043;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

button:hover {
  border: 1px solid grey;
  border-radius: 4px;
}

button:focus {
  border: 1px solid #4885ed;
  border-radius: 4px;
}

/* Language Section */
.language {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: inherit;
  line-height: 28px;
  text-align: center;
  min-height: 235px;
  max-height: 250px;
}

.language p {
  margin-bottom: 24px;
}

.language a {
  padding: 0px 3px;
  color: rgb(102, 0, 153);
  text-decoration: none;
}

.language a:hover {
  padding: 0px 3px;
  color: rgb(102, 0, 153);
  text-decoration: underline;
}

/* Footer */
footer {
  background: #f2f2f2;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer h4 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
  line-height: 39.5px;
  font-weight: 400;
  padding-left: 29px;
  border: 1px solid #eee;
}

footer a {
  color: #5f6368;
  display: inline-block;
  padding: 12px 11.3px;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

footer .links a {
  text-decoration: none;
}

footer .links a:hover {
  text-decoration: underline;
  color: #5f6368;
}

.links {
  border-top: 1px solid #ddd;
  display: flex;
}

.link-1 {
  padding-left: 18.7px;
  flex: 1;
}

.link-2 {
  padding-right: 18.7px;
}
