/* Importing Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: arial, sans-serif;
  background-color: white;
}

.top-bar {
  padding: 6px 6px;
  height: 48px;
}

.bar-content {
  float: right;
  padding-right: 4px;
  padding-left: 32px;
  height: 48px;
}

.bar-content p {
  font-size: 13px;
  font-family: arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px;
  padding: 0px 15px;
  text-decoration: none;
}

.bar-content p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bar-content .gmail {
  padding-right: 0px;
}

.bar-content .gmail a {
  text-decoration: none;
  color: #212529;
}

.bar-content .image a {
  text-decoration: none;
  color: #212529;
}

.bar-content .fa {
  padding: 12px 12px;
  cursor: pointer;
}

.bar-content .fa:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.bar-content .profile-pic {
  margin: 0;
  padding: 4px 4px;
  height: 40px;
  width: 40px;
  border-radius: 45%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.bar-content .profile-pic:hover {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 50%;
}

/* Logo Section */
.logo-section {
  min-height: 150px;
  height: calc(100% - 560px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.google-logo {
  width: 271px;
  height: 91px;
  margin-top: 75px;
}

@media only screen and (max-width: 600px) {
  .google-logo {
    margin-top: 60px;
  }
}

/* Search Bar Section */
.search-section {
  padding: 20px 20px;
  display: block;
  text-align: center;
}

.two-buttons {
  padding-top: 18px;
  font-family: arial, sans-serif;
  font-size: 14px;
}

button {
  color: #3c4043;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

button:hover {
  border: 1px solid grey;
  border-radius: 4px;
}

button:focus {
  border: 1px solid #4885ed;
  border-radius: 4px;
}

.bar {
  margin: 0 auto;
  width: 582px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}

.bar:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

@media only screen and (max-width: 800px) {
  .bar {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .bar {
    width: 450px;
  }
}

.searchbar {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
}

.voice {
  position: static;
  height: 20px;
  left: 10px;
  bottom: 9px;
}

/* Language Section */
.language {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: inherit;
  line-height: 28px;
  text-align: center;
  min-height: 235px;
  max-height: 250px;
}

.language p {
  margin-bottom: 24px;
}

.language  a {
  padding: 0px 3px;
  color: rgb(102, 0, 153);
  text-decoration: none;
}

.language  a:hover {
  padding: 0px 3px;
  color: rgb(102, 0, 153);
  text-decoration: underline;
}

/* Footer */

.footer {
  background: #f2f2f2;
  font-family: arial, sans-serif;
  color: #757575;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.footer p{
  margin-bottom: 0px;
}

.footer:after {
  display: block;
  clear: both;
  content: "";
  height: 0;
  overflow: hidden;
}

.foot1 {
  padding: 15px 30px;
  height: auto;
  border-bottom: 1px solid #dadce0;
}

.foot2 {
  min-height: 47px;
  padding: 13px 20px;

}

.foot2 .left-menu {
  float: left;
}

.foot2 .left-menu a {
  padding: 15px 15px;
  text-decoration: none;
  color: inherit;
}

.foot2 .left-menu a:hover {
  text-decoration: underline;
}

.foot2 .right-menu {
  float: right;
}

.foot2 .right-menu a {
  padding: 15px 15px;
  text-decoration: none;
  color: inherit;
}

.foot2 .right-menu a:hover {
  text-decoration: underline;
}
